{% extends "base.html.twig" %} {% block body %}

<h1> BIENVENUE DANS MON SITE! </h1>
{% if employe %}
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Nom Complet</th>
                <th>Date de naissance</th>
                 <th>Salaire</th>
                  <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for  employe in employe %}
            
            <tr>
                <td>{{employe.matricule}}</td>
                <td>{{employe.nomComplet}}</td>
                <td>{{employe.datenaissance | date ('d-m-Y')}}</td>
                <td>{{employe.salaire}}</td>
                <td>
                    <a href="#" class="btn btn-light>
                </td>
            
            </tr>

        {% endfor %}
            
           
        </tbody>
    </table>
{% endif %}

{% endblock body %}