{% extends "base.html.twig" %}
{% block body %}

<h1>AJOUT DE SERVICE </h1>

{{ form_start(formService)}}

{{ form_row(formService.libelle)}}
<button type="submit">AJOUTER</button>
{{ form_end(formService)}}
{%  endblock body %} 